.main__container {
  margin-top: 50px;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 53%;
  padding: 4rem;
}

.main__container--hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}

.main__container--iceland {
  background-image: url("../assets/Images/iceland.jpg");
}

.main__container--greece {
  background-image: url("../assets/Images/greece.jpg");
}

.main__title {
  color: white;
  font-size: 5rem;
  padding-left: 4rem;
  font-weight: bold;
}

.main__cards-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.main__card {
  height: 370px;
  width: 250px;
  margin: 3rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.main__day {
  font-weight: bold;
  border-bottom: 2px solid black;
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
}

.main__itinerary {
  background-color: var(--light-pink);
  margin: 0.5rem;
  text-align: center;
  padding: 0.8rem 4.5rem;
  margin: 1rem;
  list-style: none;
}

.main__itinerary:first-of-type {
  margin-top: 1.5rem;
}
