* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --navyblue: #335576;
  --salmon: #db7a4e;
  --light-pink: #fefaf5;
}

body {
  font-family: Verdana;
}

h1 {
  font-size: 32px;
}

h2 {
  color: var(--navyblue);
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  overflow: hidden;
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding: 1rem 3rem 1rem 8rem;
}

.nav__logo-link {
  color: var(--navyblue);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex: 0.28;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: black;
  padding-bottom: 9px;
}

.nav__link.current {
  border-bottom: 3px solid var(--salmon);
}

h2.footer__title {
  margin-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--light-pink);
  height: 10rem;
  padding: 2rem 5rem 2rem 5rem;
}

.footer__section {
  flex: 0.17;
  display: flex;
  flex-direction: column;
}

.footer__section:nth-of-type(2) {
  flex: 0.42;
  margin: 0 5rem 0 5rem;
}

.footer__hours-wrapper {
  margin: 0;
}

.footer__card-description {
  color: #db7a4e;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-bottom: 10px;
}

.footer__card-information {
  color: var(--navyblue);
  font-size: 14px;
}

.footer__hours-entire-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__icons-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.footer__icon {
  margin-top: 15px;
  height: 25px;
  width: atuo;
}
