.hero {
  height: 35rem;
  display: flex;
  background-color: var(--light-pink);
  padding: 3rem;
  margin-top: 50px;
}

.hero__left-side {
  flex: 0.5;
  margin: 2rem;
}

.hero__left-side > * {
  margin: 3rem;
}

.hero__title {
  color: var(--navyblue);
  text-transform: capitalize;
}

.hero__description {
  color: var(--navyblue);
}

.hero__button {
  background-color: var(--salmon);
  padding: 0.7rem 3rem;
  color: white;
  border-radius: 30px;
}

.hero__right-side {
  flex: 0.5;
  display: flex;
  justify-content: end;
}

.hero-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.destinations {
  padding: 3rem;
}

.destinations__title {
  padding: 1rem 0 0 5rem;
  margin-bottom: 1rem;
}

.destinations__cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.destinations__card {
  position: relative;
}

.hawaii__image,
.iceland__image,
.greece__image {
  height: 400px;
  width: auto;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.destinations__card-title {
  position: absolute;
  bottom: 9%;
  right: 14%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
